html,
body {
  display: grid;
  height: 100vh;
  place-items: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1a;
}

.clock {
  --min-size: 200px;
  --max-size: 500px;
  width: clamp(var(--min-size), 50vw, var(--max-size));
  height: clamp(var(--min-size), 50vw, var(--max-size));
  border-radius: 50%;
  position: relative;
  border: 3px solid white;
}

.clock .hand {
  width: 40%;
  height: 2px;
  background-color: #4857b1;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 200ms;
  transform-origin: left;
  transform: rotate(var(--rotation));
  border-radius: 1px;
}

.clock .hand.hour {
  width: 30%;
}
.clock .hand.second {
  width: 48%;
  background-color: white;
}
