html,
body {
  display: grid;
  height: 100vh;
  place-items: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.clock {
  --min-size: 200px;
  --max-size: 500px;
  width: clamp(var(--min-size), 50vw, var(--max-size));
  height: clamp(var(--min-size), 50vw, var(--max-size));
  border-radius: 50%;
  position: relative;
  background: url(./clock-face.jpg);
  background-position: center;
  background-size: contain;
}

.clock .hand {
  width: 45%;
  height: 3px;
  background-color: rgb(27, 27, 27);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 200ms;
  transform-origin: left;
  transform: rotate(var(--rotation));
}

.clock .hand.hour {
  width: 30%;
  background-color: red;
}
