:root {
  --neomorphism-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
}

html,
body {
  display: grid;
  height: 100vh;
  place-items: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e5ec;
}

main {
  display: grid;
  justify-items: center;
}

.clock {
  --min-size: 200px;
  --max-size: 500px;
  width: clamp(var(--min-size), 50vw, var(--max-size));
  height: clamp(var(--min-size), 50vw, var(--max-size));
  border-radius: 50%;
  position: relative;
  box-shadow: var(--neomorphism-shadow);
}

.clock .hand {
  width: 40%;
  height: 4px;
  background-color: #4857b1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  transform: rotate(var(--rotation)) translate(-20px);
  border-radius: 2px;
  z-index: 1;
}

.clock .hand.Hours {
  width: 30%;
}
.clock .hand.Seconds {
  width: 48%;
  background-color: #a3b1c6;
}

.clock span#time {
  font-size: 20pt;
  color: #4857b1;
  position: absolute;
  top: 50px;
  left: 50%;
  padding: 5px 10px;
  transform: translateX(-50%);
  box-shadow: var(--neomorphism-shadow);
  border-radius: 5px;
}
